:root{
  --secondary-color: #32a1f0
}
body{
  height: 100vh;
}
#app{
  height: 100%;
}
.close-button {
  cursor: pointer;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
  font-weight: bold;
}
.form-label {
  display: block;
  font-weight: bold;
}
.form-group .form-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button[type="submit"] {
  background-color:  var(--secondary-color);
  color: #fff;
}

.button-group button[type="submit"]:hover {
  background-color: #007bff;
}
.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.day-names {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}

.day-name {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 15px 10px;
}

.week {
  display: flex;
  width: 100%;
}

.day {
  width: calc(100% / 7);
  position: relative;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  min-height: 90px;
}
.current-day {
  background-color:var(--secondary-color);
  color: white ;
  border-radius: 50%;
}
.day-number{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
}
.day:hover {
  cursor: pointer;
}

.outside-month {
  color: #bbb;
  background-color: #eff1f3;
}
.events {
  display: flex;
  flex-direction: column;
  top: 5px;
  left: 5px;
}

.event {
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 2px 0;
  text-overflow: clip;
  cursor: pointer;
}
.event-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  width: auto;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: var(--secondary-color);
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
  background: #2e93da;
}


.event-date {
  font-size: 20px;
  font-weight: bold;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #333;
}